<h1 class="text-center mt-2">New Post</h1>

<div class="m-2">
  <%= render 'form', post: @post %>
</div>

<div class="d-flex justify-content-center">
  <%= link_to 'Back', posts_path, class: 'btn btn-warning' %>
</div>
